<div class="carrousel">
	<a class="carrousel-button prev" ng-click="pop()"><i class="fa fa-arrow-left icon fa-3"></i></a>
	<div class="carrousel-conteiner">
		<div class="carrousel-img" ng-click="next(layouts[0])">
			<img src="{{layouts[0].img}}" alt="{{layouts[0].value}}"/>
			<div class="carrousel-name"><h2>{{layouts[0].name}}</h2></div>
		</div>
		<div class="carrousel-img" ng-click="next(layouts[1])">
			<img src="{{layouts[1].img}}" alt="{{layouts[1].value}}"/>
			<div class="carrousel-name"><h2>{{layouts[1].name}}</h2></div>
		</div>
		<div class="carrousel-img" ng-click="next(types[2])">
			<img src="{{layouts[2].img}}" alt="{{layouts[2].value}}"/>
			<div class="carrousel-name"><h2>{{layouts[2].name}}</h2></div>
		</div>
	</div>
	<a class="carrousel-button next" ng-click="push()"><i class="fa fa-arrow-right icon fa-3"></i></a>
</div>

