/*****************************************
Repair Browsers bugs
*****************************************/

* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}


/*****************************************
DEFAULT CONFIG
******************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    width: 100%;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*****************************************
MAIN
*****************************************/

html {
    height: 100%;
}

body {
    background-color: red;
    height:100%;
    max-width:1200px;
    max-height: 1000px;
    margin: 0 auto;
}

main {
    background-color: #0C005C;
    height:90%;
}

#container {
    padding: 1%;
    overflow-x: hidden;
}

#content{

}

.svg-wrap {
    height:0;
    padding-top: 66.6666667%;
    position: relative;
    width: 100%;
}

svg {
     height: 100%;
     width: 100%;
     position: absolute;
     top:0;
     left:25;
}

.group::after {
    content: '';
    display: table;
    clear: both;
};

#content img {
    max-width:100%;
    height:auto;
}

/*****************************************
Scroolbar
*****************************************/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ccc;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #c31fc9;
}

/*****************************************
NavBar
*****************************************/
nav {
    width:100%;
    background-color: #322222;
    height:10%;
    padding: 1.5% 3% 1.5% 3%;
}

ul {
    width: 70%;
    padding: 1% 0.75% 1.5% 0.75%;
    float: right;
}

li {
    display: inline-block;
    float:right;
    margin-right:5%;
}

ul li a {
    font-size: 1.0em;
    font-family: 'Indie Flower',Arial, serif;
    font-weight: 400;
}

.logo {
    float:left;
    width: 30%;
}

.logo  a {
    font-size: 2.0em;
    font-family: 'Indie Flower',Arial, serif;
    font-weight: 400;
}



/*****************************************
#region wrapper for angular ng-include and ng-view animations
*****************************************/

.view-container {
    position: relative;
    overflow: hidden;
}



/******************************************
#region Angular ng-include, ng-view, ng-repeat shuffle animations
*****************************************/

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}

.shuffle-animation.ng-enter {
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;
}

    .shuffle-animation.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
    }

.shuffle-animation.ng-leave {
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;
}

.shuffle-animation.ng-leave.ng-leave-active {
    left: 2em;
    opacity: 0;
}



/******************************************
#region Angular ng-include, ng-view, ng-repeat fader animation
*****************************************/

.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
    position: relative;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave {
    transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
    opacity: 1;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
    opacity: 0;
}

    .fader-animation.ng-enter.ng-enter-active {
        opacity: 1;
    }

.fader-animation.ng-move {
  opacity:0.5;
}
.fader-animation.ng-move.ng-move-active {
  opacity:1;
}



/*****************************************
#region Angular ng-show dissolve animation
*****************************************/
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
    position: fixed !important;
    display: inline !important;
    transition: 0.5s linear all;
}

    .dissolve-animation.ng-hide-remove.ng-hide-remove-active,
    .dissolve-animation.ng-hide-add {
        opacity: 1;
    }

        .dissolve-animation.ng-hide-add.ng-hide-add-active,
        .dissolve-animation.ng-hide-remove {
            opacity: 0;
        }



/****************************************
#region toastr
*****************************************/

#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
    margin: 4px auto;
}



/*****************************************
#region Responsive
*****************************************/


@media screen and (min-width: 480px) {
  body {
  }
}

@media screen and (min-width: 660px) {
  body {
  }
};
