<!--
<board board="board">
    <block block="block"></block>
    <rect element="rctl"></rect>
    <circle element="circle"></circle>
    <path element="path"></path>
    <group group="group"></group>
</board>
-->




<dr-sequence-bar number="number"></dr-sequence-bar>
<dr-choose-type  ng-if="chType"></dr-choose-type>
<dr-choose-board ng-if="chBoard"></dr-choose-board>
<dr-choose-block ng-if="chBlock"></dr-choose-block>

<!--Temp-->
<!--
<button name="button" ng-click="saveBoard('Colchas')">Click me</button>
<textarea name="textarea" rows="10" cols="50" ng-model="board"></textarea>
-->
<!--<button name="button" ng-click="saveBlock()">Click me</button>-->
<!--<textarea name="textarea" rows="10" cols="50" ng-model="block"></textarea>-->
