<!--
<board board="board">
    <block block="block"></block>
    <rect element="rctl"></rect>
    <circle element="circle"></circle>
    <path element="path"></path>
    <group group="group"></group>
</board>
-->




<dr-sequence-bar number="number"></dr-sequence-bar>
    <dr-choose-type ng-show="number === 1"></dr-choose-type>
<!--
<div ng-controller="ChooseLayoutCtrl">
    <dr-choose-type type="type" ng-show="number === 2"></dr-choose-type>
</div>
-->
<div id="content" class="svg-wrap" ng-show="number >= 3">
    <board board="board"></board>
</div>
