<div class="nav-sequence">
    <div class="step" ng-if="number >= 1">
        <a href="#" class="circle" number="1">Type</a>
    </div>
    <div class="line" ng-if="number >= 1"></div>
    <div class="step" ng-if="number >= 2">
        <a href="#" class="circle" number="2">Layout</a>
    </div>
    <div class="line" ng-if="number >= 2"></div>
    <div class="step" ng-if="number >= 3">
        <a href="#" class="circle" number="3">Block</a>
    </div>
    <div class="line" ng-if="number >= 3"></div>
    <div class="step" ng-if="number >= 4">
        <a href="#" class="circle" number="4">Tisseu</a>
    </div>
    <div class="line" ng-if="number >= 4"></div>
    <div class="step" ng-if="number >= 5">
        <a href="#" class="circle" number="5">Result</a>
    </div>
</div>
