<div class="carrousel">
    <a class="carrousel-button prev" ng-click="pop()"><i class="fa fa-arrow-left icon fa-3"></i></a>
    <div class="carrousel-conteiner">
        <div class="carrousel-img" ng-click="next(type[0].value)"><a><img src="{{type[0].img}}" alt="{{type[0].value}}"/></a></div>
        <div class="carrousel-img" ng-click="next(type[1].value)"><img src="{{type[1].img}}" alt="{{type[1].value}}"/></div>
        <div class="carrousel-img" ng-click="next(type[2].value)"><img src="{{type[2].img}}" alt="{{type[2].value}}"/></div>
    </div>
    <a class="carrousel-button next" ng-click="push()"><i class="fa fa-arrow-right icon fa-3"></i></a>
</div>
